<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
    
    <title>나의 첫 vlog</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />

    
    <script>
        // let user;
        // getSelf(function (u) {
        // console.log('너 언제 불리냐?')
        // user = u;
        // });

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const post_id = urlParams.get("post_id");

        $(document).ready(function () {
            correct_detail()
            // loginState()            
        })
        function GO() {
            location.href=`/detail?_id=${post_id}`
        }
        function show_modal_D() {
            $("#cor_del").text("정말 삭제하시겠습니까?")
            $("#cor").css('display', 'none')
            $("#del").css('display', 'block')
            $('.modal').addClass('show');
        }
        function show_modal_C() {
            $("#cor_del").text("정말 변경하시겠습니까?")
            $("#del").css('display', 'none')
            $("#cor").css('display', 'block')
            $('.modal').addClass('show');
        }
        function close_modal() {

            $('.modal').removeClass('show');
        }
        function add_close() {
            addpost();
            close_modal();
        }

        function correct_detail() {
            $.ajax({
                type: "GET",
                url: `/api/posts/${post_id}`,
                // headers: {
                //     authorization: `Bearer ${localStorage.getItem('token')}`,
                // },
                data: {},
                error: function (xhr, status, error) {
                    if (status == 401) {
                        alert('로그인이 필요합니다.')
                    }
                    window.location.href = "/";
                },                
                success: function (response) {
                    let post = response["detail"];
                    
                    $("#title").val(post["title"]);
                    $("#content").text(post["content"]);
                }
            });
        }

        function correction() {
        $.ajax({
            type: "PATCH",
            url: `/api/posts/${post_id}`,
            // headers: {
            //     authorization: `Bearer ${localStorage.getItem('token')}`,
            // },
            data: {
                title: $("#title").val(),
                content: $("#content").val(),
            },
            error: function (xhr, status, error) {
                if (status == 401) {
                    alert('로그인이 필요합니다.')
                }
                window.location.href = "/";
            },
            success: function (response) {
                if (response["result"] == "success") {
                    alert("변경 완료!");
                    window.location.href = "/";
                }
            }
        });
        }

        function delete_post() {

        $.ajax({
            type: "DELETE",
            url: `/api/posts/${post_id}`,
            // headers: {
            //     authorization: `Bearer ${localStorage.getItem('token')}`,
            // },
            data: {},
            error: function (xhr, status, error) {
                if (status == 401) {
                    alert('로그인이 필요합니다.')
                }
                window.location.href = "/";
            },
            success: function (response) {
                if (response["result"] == "success") {
                    alert("삭제 완료!");
                    window.location.href = "/";
                }
            }
        });
        }

    </script>

</head>

<body>
    <nav class="navbar is-transparent container_top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
                    width="112" height="28">
            </a>
            <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/">
                        Docs
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/">
                            Overview
                        </a>
                        <a class="navbar-item" href="/">
                            Modifiers
                        </a>
                        <a class="navbar-item" href="/">
                            Columns
                        </a>
                        <a class="navbar-item" href="/">
                            Layout
                        </a>
                        <a class="navbar-item" href="/">
                            Form
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/">
                            Elements
                        </a>
                        <a class="navbar-item is-active" href="/">
                            Components
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <div class="navbar-end">
                            <div class="navbar-item">
                              <div class="buttons">
                                <a class="button is-primary logout">
                                  <strong>My page</strong>
                                </a>
                                <a class="button is-primary login" href='/login'>
                                    <strong>로그인</strong>
                                </a>
                                <a class="button is-primary logout" onclick="signOut()" href='/login'>
                                    <strong>로그아웃</strong>
                                </a>
                              </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           
        </div>
    </nav>
    <hr style="border: 2px;">
    <br>
    <div>
        <div class="middle">
            <h1>상세 페이지</h1>

            <input class="input is-primary cor_box" type="text" placeholder="Primary input" id="title">
            <br>    
            <textarea class="textarea is-primary" placeholder="Primary textarea" id="content"></textarea>
            <br>

            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" id="modal_btn" onclick="correction()">
                        수정 완료!
                    </a>
                    <a class="button is-primary" id="modal_btn" onclick="delete_post()">
                        삭제!
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light" onclick="GO()">
                        Cancel
                    </a>
                </p>
            </div>
        </div>



        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">알림</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <p class="control has-icons-left">
                            <div id="cor_del"></div>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" id="cor" onclick="correction()">변경 완료!</button>
                    <button class="button is-success" id="del" onclick="delete_post()">삭제 완료!</button>
                    <button class="button" onclick="close_modal()">취소</button>
                </footer>
            </div>
        </div>




    </div>





</body>

</html>