
* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;

}

body {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 100px 450px 450px;

}

.nav {

    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #191970;
    /*.bold(font-weight:600;)*/
    font-weight: 700;



}

.main_1 {
    display: grid;
    grid-template-rows: 60px 30px 30px 30px 30px 30px 30px 30px 10px 10px;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-content: center;
    border: 1px solid;
    padding: 20px 20px;
}

.main_1:nth-child(n) {
    padding-top: 120px;
}

.main_2 {
    background-image: url("/static/hotel1.jpg");
    background-size: cover;
}

.main_3 {
    display: grid;
    justify-content: center;

}

.main_3 .title_3 {
    font-size: 40px;
    padding-top: 30px;
}

.main_3 .content_3 {
    font-size: 20px;

}

.person {
    display: inline-block;
    width: 100%;
}

#name {
    width: 150px;
    height: 20px;
    display: inline-block;

}

#roomName {
    width: 150px;
    height: 23px;

}

.bnt_1 {
    display:block;
    margin:auto;
    height: 25px;
    width: 200px;

}
.bnt_2 {
    display:block;
    margin:auto;
    height: 25px;
    width: 200px;

}


#id {
    height: 20px;
    width: 148px;

}

.decr {
    font-size: 10px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.rev {
    /*position: absolute;*/
    font-size: 28px;
    display: block;
    padding: 0 0 0 50px;
    margin: auto;
}

#checkIn {
    width: 149px;
}

#checkOut {
    width: 150px;
}