.nav {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    font-size: 60px;
}

.posting-box {
    width: 500px;
    margin-top: 20px;
}

.wrap {
    width: 1000px;
    margin: auto;

}

.container {
    padding-left: 50px;
}

.custom-file {
    margin-bottom: 20px;
}

#cards-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#card {
    width:280px;
    margin: 0;
}