<form>
    <div>
        <input id="username" name="username" value="" placeholder="닉네임을 입력해주세요" type="text" />
    </div>
    <div>
        <input id="password" name="password" value="" placeholder="패스워드를 입력해주세요" type="password" />
    </div>
    <div>
        <button onclick="login()" type="button">로그인</button>
        <a href="/sign-up">회원가입</a>
    </div>
</form>

<script>
    function login() {
        const usernameInput = document.querySelector('#username');
        const passwordInput = document.querySelector('#password');
        const data = {
            username: usernameInput.value,
            password: passwordInput.value,
        }
        const client = new XMLHttpRequest()
        client.onload = function () {
            if (client.status === 200) {
                location = '/'
            } else if (client.status === 400) {
                alert(client.responseText);
            }
        }
        client.open('POST', '/api/auth/sign-in');
        client.setRequestHeader('Content-Type', 'application/json');
        client.send(JSON.stringify(data));
    }
</script>
